<div id="footer" class="justify-content-center" style="background:#107AC0; color:#FFF; font-size:14px;padding:10px;">
  <div class="container"  style="max-width:750px;">
    <div class="row">
      <div class="col-xs-3" style="margin-right:10px;">
        <img alt="" src="{{site.img_host}}/images/mri-logo.png"/>
      </div>
      <div class="col-xs-9" >
        <p>Mineral Resources International, Inc<br>
        2720 Wadman Dr. Ogden, UT 84401<br>
        </p>

        <p>
          上海宝山区沪太路1568号大华商务中心一号楼<br>
          021-66399219
        </p>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

