body{
    background: #FFF;
    
}

#main-content img {
    max-width: 100%;
    height: auto;
    
}


.img-fluid {
    max-width: 100%;
    height: auto;
}

#table-of-contents {
    display:none;
}
#posts-content h2 {
    font-size: 20px;

}
#posts-content h3 {
    font-size: 18px;

}


#posts-content h2 span {
    display:none;
}
#posts-content h3 span {
    display:none;
}
